.users {
  @apply grid gap-2 border-b p-2;
  grid-template-columns: 100px 1fr;
}
.device {
  grid-template-columns: 40px 1fr 1fr 1fr;
}
.drv-roles {
  grid-template-columns: 1fr 100px 160px 160px 160px 1fr;
}
.contract {
  @apply text-sm;
  grid-template-columns: 60px 60px 1fr 110px 120px 100px 60px 80px;
}
.user-selector-option {
  @apply grid gap-2 text-sm;
  grid-template-columns: 50px 1fr;
  .-img {
    @apply w-12 h-12;
  }
}
.products {
  grid-template-columns: 60px 1fr 110px 120px 120px;
}
.phone-dup {
  grid-template-columns: 60px 110px 110px 120px 120px 1fr;
}
.user-raw {
  grid-template-columns: 60px 1fr;
}
.user-per {
  grid-template-columns: 60px 1fr 110px 120px 60px 60px 60px 60px 60px 60px 60px 60px;
}
.noti-man {
  grid-template-columns: 1fr 90px 50px 50px 30px 60px 40px 1fr 180px;
}
.drvs {
  grid-template-columns: 1fr 1fr 110px 120px 100px 70px 40px 40px 40px 40px;
}
